In [1]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
dt=pd.read_csv('dataset.csv')
dt['Disease']= dt['Disease'].str.split().str.get(0).str.replace('(','')
dt['Disease']= dt['Disease'].str.split().str.get(0).str.replace(')','')
dt['Symptom_1']= dt['Symptom_1'].str.split().str.get(0).str.replace('_',' ')
dt['Symptom_2']= dt['Symptom_2'].str.split().str.get(0).str.replace('_',' ')
dt['Symptom_3']= dt['Symptom_3'].str.split().str.get(0).str.replace('_',' ')
dt['Symptom_4']= dt['Symptom_4'].str.split().str.get(0).str.replace('_',' ')
dt['Symptom_5']= dt['Symptom_5'].str.split().str.get(0).str.replace('_',' ')
dt['Symptom_6']= dt['Symptom_6'].str.split().str.get(0).str.replace('_',' ')

In [2]:
dt['Disease']=(dt['Disease'].str.capitalize())

In [3]:
dt=dt.sort_values(by='Disease')
dt=dt.drop('Symptom_7',axis=1)
dt=dt.drop('Symptom_8',axis=1)
dt=dt.drop('Symptom_9',axis=1)
dt=dt.drop('Symptom_10',axis=1)
dt=dt.drop('Symptom_11',axis=1)
dt=dt.drop('Symptom_12',axis=1)
dt=dt.drop('Symptom_13',axis=1)
dt=dt.drop('Symptom_14',axis=1)
dt=dt.drop('Symptom_15',axis=1)
dt=dt.drop('Symptom_16',axis=1)
dt=dt.drop('Symptom_17',axis=1)

In [4]:
dt.to_csv('Dataset_final1.csv')
dt=pd.read_csv('Dataset_final1.csv')
dt.head()

,Unnamed: 0,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6
0,786,Acne,skin rash,pus filled pimples,blackheads,scurring,NaN,NaN
1,2422,Acne,pus filled pimples,blackheads,scurring,NaN,NaN,NaN
2,2423,Acne,skin rash,blackheads,scurring,NaN,NaN,NaN
3,2424,Acne,skin rash,pus filled pimples,scurring,NaN,NaN,NaN
4,2425,Acne,skin rash,pus filled pimples,blackheads,NaN,NaN,NaN

In [5]:
dp=dt.drop('Unnamed: 0',axis=1)
dp.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6
0,Acne,skin rash,pus filled pimples,blackheads,scurring,NaN,NaN
1,Acne,pus filled pimples,blackheads,scurring,NaN,NaN,NaN
2,Acne,skin rash,blackheads,scurring,NaN,NaN,NaN
3,Acne,skin rash,pus filled pimples,scurring,NaN,NaN,NaN
4,Acne,skin rash,pus filled pimples,blackheads,NaN,NaN,NaN

In [6]:
dp.head()
dp.to_csv('Dataset88.csv')

In [7]:
ds=pd.read_csv('symptom_precaution.csv')
ds['Disease']= ds['Disease'].str.split().str.get(0).str.replace('(','')
ds['Disease']= ds['Disease'].str.split().str.get(0).str.replace(')','')
ds['Disease']=(ds['Disease'].str.capitalize())
ds=ds.sort_values(by='Disease')
ds.head()

,Disease,Precaution_1,Precaution_2,Precaution_3,Precaution_4
11,Acne,bath twice,avoid fatty spicy food,drink plenty of water,avoid too many products
23,Aids,avoid open cuts,wear ppe if possible,consult doctor,follow up
31,Alcoholic,stop alcohol consumption,consult doctor,medication,follow up
2,Allergy,apply calamine,cover area with bandage,NaN,use ice to compress itching
38,Arthritis,exercise,use hot and cold therapy,try acupuncture,massage

In [8]:
ds.to_csv('precaution_final1.csv')
ds=pd.read_csv('precaution_final1.csv')
dk=ds.drop('Unnamed: 0',axis=1)
dk.head()

,Disease,Precaution_1,Precaution_2,Precaution_3,Precaution_4
0,Acne,bath twice,avoid fatty spicy food,drink plenty of water,avoid too many products
1,Aids,avoid open cuts,wear ppe if possible,consult doctor,follow up
2,Alcoholic,stop alcohol consumption,consult doctor,medication,follow up
3,Allergy,apply calamine,cover area with bandage,NaN,use ice to compress itching
4,Arthritis,exercise,use hot and cold therapy,try acupuncture,massage

In [9]:
dk.head()
dk.to_csv('precaution99.csv')

In [10]:
du=pd.read_csv('symptom_Description.csv')
du['Disease']= du['Disease'].str.split().str.get(0).str.replace('(','')
du['Disease']= du['Disease'].str.split().str.get(0).str.replace(')','')
du['Disease']=(du['Disease'].str.capitalize())

In [11]:
du.head()

          Disease                                        Description
0            Drug  An adverse drug reaction (ADR) is an injury ca...
1         Malaria  An infectious disease caused by protozoan para...
2         Allergy  An allergy is an immune system response to a f...
3  Hypothyroidism  Hypothyroidism, also called underactive thyroi...
4       Psoriasis  Psoriasis is a common skin disorder that forms...

In [12]:
du=du.sort_values(by='Disease')
du.head()

      Disease                                        Description
11       Acne  Acne vulgaris is the formation of comedones, p...
23       Aids  Acquired immunodeficiency syndrome (AIDS) is a...
31  Alcoholic  Alcoholic hepatitis is a diseased, inflammator...
2     Allergy  An allergy is an immune system response to a f...
38  Arthritis  Arthritis is the swelling and tenderness of on...

In [13]:
du.to_csv('__Description_final1.csv')
du=pd.read_csv('__Description_final1.csv')
du.head()

   Unnamed: 0    Disease                                        Description
0          11       Acne  Acne vulgaris is the formation of comedones, p...
1          23       Aids  Acquired immunodeficiency syndrome (AIDS) is a...
2          31  Alcoholic  Alcoholic hepatitis is a diseased, inflammator...
3           2    Allergy  An allergy is an immune system response to a f...
4          38  Arthritis  Arthritis is the swelling and tenderness of on...

In [14]:
do=du.drop('Unnamed: 0',axis=1)
do.head()

     Disease                                        Description
0       Acne  Acne vulgaris is the formation of comedones, p...
1       Aids  Acquired immunodeficiency syndrome (AIDS) is a...
2  Alcoholic  Alcoholic hepatitis is a diseased, inflammator...
3    Allergy  An allergy is an immune system response to a f...
4  Arthritis  Arthritis is the swelling and tenderness of on...

In [15]:
do.to_csv('description77.csv')

In [16]:
g= dt['Disease'].unique()
g[0]

'Acne'

In [17]:
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.tree import DecisionTreeRegressor
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder

In [18]:
dp=dt.drop('Unnamed: 0',axis=1)

In [19]:
le = LabelEncoder()
lab= le.fit_transform(dp['Disease'])

In [20]:
dp.drop("Disease",axis=1,inplace=True)

In [21]:
dp["Disease"]=lab

In [22]:
dp = dp.replace(np.NaN, 'no')

In [23]:
x=dp.drop(columns='Disease')
y=dp['Disease']

In [24]:
dp.tail(1000)

,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6,Disease
3920,vomiting,headache,weakness of one body side,altered sensorium,no,no,28
3921,vomiting,headache,weakness of one body side,altered sensorium,no,no,28
3922,vomiting,headache,altered sensorium,no,no,no,28
3923,vomiting,headache,weakness of one body side,altered sensorium,no,no,28
3924,vomiting,headache,weakness of one body side,altered sensorium,no,no,28
...,...,...,...,...,...,...,...
4915,fatigue,cramps,bruising,obesity,swollen legs,swollen blood vessels,36
4916,fatigue,cramps,obesity,swollen legs,swollen blood vessels,prominent veins on calf,36
4917,fatigue,cramps,bruising,swollen legs,swollen blood vessels,prominent veins on calf,36
4918,fatigue,cramps,bruising,obesity,swollen legs,prominent veins on calf,36
4919,fatigue,cramps,bruising,obesity,swollen legs,swollen blood vessels,36

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.3, random_state =0)

In [26]:
ohe= OneHotEncoder()
ohe.fit(dp[['Symptom_1','Symptom_2','Symptom_3','Symptom_4','Symptom_5','Symptom_6']])

OneHotEncoder()

In [27]:
#ct=make_column_transformer((OneHotEncoder(sparse=False),[[0],[1],[2],[3],[4],[5],[6]]),remainder='passthrough')
ct=make_column_transformer((OneHotEncoder(sparse=False),['Symptom_1','Symptom_2','Symptom_3','Symptom_4','Symptom_5','Symptom_6']),remainder='passthrough')
dtr=DecisionTreeRegressor()

In [28]:
pipe = make_pipeline(ct,dtr)

In [29]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Symptom_1', 'Symptom_2',
                                                   'Symptom_3', 'Symptom_4',
                                                   'Symptom_5',
                                                   'Symptom_6'])])),
                ('decisiontreeregressor', DecisionTreeRegressor())])

In [30]:
y_pred = pipe.predict(x_test)
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

1.0

In [31]:
s1 = input("s1")
s2 = input("s2")
s3 = input("s3")
s4 = input("s4")
s5 = input("s5")
s6 = input("s6")
data=np.array([s1,s2,s3,s4,s5,s6])

In [32]:
k=pipe.predict(pd.DataFrame([data],columns= ['Symptom_1','Symptom_2','Symptom_3','Symptom_4','Symptom_5','Symptom_6']))

In [33]:
x=k.item()

In [34]:
pr= pd.read_csv('Description77.csv')

In [35]:
LE = LabelEncoder()
pr['Disease']= LE.fit_transform(pr['Disease'])

In [36]:
for i in range(0,41):
    if k== pr.Disease[i]:
        k2=pr.Description[i]

In [38]:
kr= pd.read_csv('precaution99.csv')

In [39]:
ke = LabelEncoder()
kr['Disease']= ke.fit_transform(kr['Disease'])

In [40]:
for i in range(0,41):
    if k== kr.Disease[i]:
        k1=[ kr.Precaution_1[i],kr.Precaution_2[i],kr.Precaution_3[i],kr.Precaution_4[i]]

In [41]:
print(f'Disease : {g[int(x)]}')
print()
print(f'Description : {k2}')
print()
print(f'precaution : {k1}')

Disease : Paralysis

Description : Intracerebral hemorrhage (ICH) is when blood suddenly bursts into brain tissue, causing damage to your brain. Symptoms usually appear suddenly during ICH. They include headache, weakness, confusion, and paralysis, particularly on one side of your body.

precaution : ['massage', 'eat healthy', 'exercise', 'consult doctor']

In [42]:
import pickle
pickle.dump(pipe,open('gpred.pkl','wb'))

In [43]:
!pip install flask

Requirement already satisfied: flask in c:\users\ganesh\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\ganesh\anaconda3\lib\site-packages (from flask) (2.11.3)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\ganesh\anaconda3\lib\site-packages (from flask) (2.0.3)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\ganesh\anaconda3\lib\site-packages (from flask) (2.0.1)
Requirement already satisfied: click>=5.1 in c:\users\ganesh\anaconda3\lib\site-packages (from flask) (8.0.4)
Requirement already satisfied: colorama in c:\users\ganesh\anaconda3\lib\site-packages (from click>=5.1->flask) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\ganesh\anaconda3\lib\site-packages (from Jinja2>=2.10.1->flask) (2.0.1)